.image {
    height: 5vw; 
    width: 5vw; 
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   color: black;
   background-color: rgb(248, 244, 252)

}
.image-picked {
    height: 5vw; 
    width: 5vw; 
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   color: rgb(255, 255, 255);

   background-color: blueviolet

}

.circle-pic{
   width:50px;
   height:50px;
   -webkit-border-radius: 50%;
   border-radius: 50%;
   background-color: blueviolet
}

.container {
    position: relative;
    text-align: center;
    display: inline-block;
    cursor:pointer;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
