
  <div class="container" *ngFor="let ball of balls">
    <div (click)="pickBall(ball.id)">
      <div [ngClass]="[getImageStyle(ball)]" class="image circle-img">  
      <div class="centered">{{ball.id}}</div>
    </div>
  </div>
