
<div *ngIf="hasUserPickedAball()">
    <h3>The roberval balance can now find it for you</h3>
    <div>
        <img src="../../assets/balance.jpg" width="10%"/>
    </div>
    <div class="container">
        <div (click)="findTheHeaviest()" >
          <img class="image circle-img">  
          <div class="centered">Find the heaviest</div>
        </div>
    </div>
    <div class="container">
      <div (click)="resetBalls()" >
        <img class="image circle-img"/>  
            <div class="centered">Reset</div>
      </div>
    </div>
    <div *ngIf="getResultId()">
      The balance found this ball was the heaviest :
        <div class="container" >
            <div>
              <img class="image-found circle-img"/>  
              <div class="centered">{{getResultId()}}</div>
            </div>
          </div>
    </div>

    
</div>
