.image {
    height: 5vw; 
    width: 5vw; 
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   background-color: aliceblue;
}

.image-found {
    height: 5vw; 
    width: 5vw; 
   border: 2px solid #fff;
   border-radius: 50%;
   box-shadow: 0 0 5px gray;
   display: inline-block;
   margin-left: auto;
   margin-right: auto;
   background-color: rgb(61, 187, 57);
}

.circle-pic{
   width:50px;
   height:50px;
   -webkit-border-radius: 40%;
   border-radius: 40%;
}

.container {
    position: relative;
    text-align: center;

    display: inline-block;
    cursor:pointer;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
