<!--The content below is only a placeholder and can be replaced.-->
<div class="top-container">
  <h2>First, choose the ball you want to be the heaviest</h2>

  <div>
    <app-balls></app-balls>
  </div>
  <div>
    <app-balance></app-balance>
  </div>
  
</div>
